{
    "paths":{
        "anime_screens":{
            "title": "Anime Screens",
            "excluded_folders": [],
            "excluded_files": ["denpa onno to seishun otoko"],
            "paths": {
                "bakemonogatari" :{
                    "title": "Bakemonogatari (aka: la miglior serie di sempre)",
                    "cover_image": "vlcsnap-2013-03-13-07h36m38s219.png"
                },
                "fight Ippatsu! Juuden-chan":{
                    "paths":{
                        "gingitsune":{
                            "cover_image": "[Aozora] Gingitsune - 05 [720p x264-AAC][Hi10P][91C80E3C].mkv_snapshot_13.03_[2013.11.26_23.16.32].png"
                        }
                    }
                },
                "denpa onno to seishun otoko":{
                    "title": "benvenuti nel 2023",
                    "paths":{
                        "nisekoi":{
                            "title": "kanahana >>>> *",
                            "paths":{
                                "random":{
                                    "title": "random fanarts related to 'False Love'"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "excluded_folders": ["testfolder", "saved"],
    "excluded_files":["dati_team_bitbucket.png"],
    "image_formats":[
          "jpg"
        , "tiff"
        , "png"
        , "bmp"
    ],
    "excluded_file_formats":[
        "^thumb_",
        "^cover_",
        "^default_"
    ],
    "template_path": "templates/default.html",
    "thumbnail_size": {
        "width": 360,
        "height": 240
    },
    "cover_size": {
        "width": 640,
        "height": 400
    },
    "regenerate_thumbnails": false,
    "directories_on_a_row": 3,
    "images_on_a_row": 3,
    "default_image": "default_images/default_.jpg",
    "short_links": {
      "use_feature": true,
      "short_url": "http://mysho.rt/url/",
      "symlink_folder": "/home/lolwat/url/",
      "links_database": "links.json"
    }
}
